repos:
- repo: https://github.com/executablebooks/mdformat
  rev: 767a107bac7c4503d9960bfd73f999c9950b69bf  # frozen: 0.7.6
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-black
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 38b88246ccc552bffaaf54259d064beeee434539  # frozen: v4.0.1
  hooks:
  - id: check-yaml
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: 58ace0d0dc6b2439b737a5ea353f836f6a2bad13  # frozen: v1.8.0
  hooks:
  - id: python-use-type-annotations
  - id: python-check-blanket-noqa
- repo: https://github.com/timothycrosley/isort
  rev: a6222a8a125ec719724e628a5d3d0d5c60923281  # frozen: 5.8.0
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 2f52e4b4929370ec503ee272bcc10d3176db8e89  # frozen: 21.5b1
  hooks:
  - id: black
- repo: https://github.com/myint/docformatter
  rev: 67919ee01837761f2d954d7fbb08c12cdd38ec5a  # frozen: v1.4
  hooks:
  - id: docformatter
- repo: https://gitlab.com/pycqa/flake8
  rev: dcd740bc0ebaf2b3d43e59a0060d157c97de13f3  # frozen: 3.9.2
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear
    - flake8-builtins
    - flake8-comprehensions
