repos:
- repo: https://github.com/executablebooks/mdformat
  rev: 767a107bac7c4503d9960bfd73f999c9950b69bf  # frozen: 0.7.6
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-toc
    - mdformat-gfm
    - mdformat-black
- repo: https://github.com/PyCQA/isort
  rev: a6222a8a125ec719724e628a5d3d0d5c60923281  # frozen: 5.8.0
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 93c10bf9ebccf8d7cc686b0b9579f2e5e41c5328  # frozen: 21.6b0
  hooks:
  - id: black
- repo: https://github.com/myint/docformatter
  rev: 67919ee01837761f2d954d7fbb08c12cdd38ec5a  # frozen: v1.4
  hooks:
  - id: docformatter
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 38b88246ccc552bffaaf54259d064beeee434539  # frozen: v4.0.1
  hooks:
  - id: check-yaml
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: 6f51a66bba59954917140ec2eeeaa4d5e630e6ce  # frozen: v1.9.0
  hooks:
  - id: python-use-type-annotations
  - id: python-check-blanket-noqa
- repo: https://github.com/PyCQA/flake8
  rev: dcd740bc0ebaf2b3d43e59a0060d157c97de13f3  # frozen: 3.9.2
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear
    - flake8-builtins
    - flake8-comprehensions
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 8254732e2eec9747094eff37f7e3450e67eff349  # frozen: v0.902
  hooks:
  - id: mypy
    args: ["--scripts-are-modules"]
    additional_dependencies:
    - types-python-dateutil
    - pytest
